:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin-left: 0;
  margin-right: 0;
}

hr {
  color: white;
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

#connection-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

table,
th,
td {
  border: 1px solid white;
  padding: 0.5em;
  border-collapse: collapse;
}

th {
  padding-bottom: 0;
  padding-top: 0;
}

.mode-column {
  width: 3em;
}

#map-column {
  min-width: 200px;
}

#status-component {
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  position: absolute;
  x: 0;
  y: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
}

form {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 2em
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.activeLink {
  cursor: pointer;
  color: lightskyblue;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
  color: white;
  text-decoration: line-through;
}

#recent-logs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#recent-logs details {
  border: 1px solid #ccc;
  border-radius: 6px;
  background: black;
}

#recent-logs summary {
  padding: 10px 14px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  text-align: left;
}

.log-container {
  height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;

  border-top: 1px solid #ccc;
  background: black;

  font-family: monospace;
  font-size: 13px;
  white-space: pre-wrap;
}

.log-text {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #111;
  color: white;
  padding: 20px;
}